<div>
    <h3>Recent Activity</h3>
    <hr>
    {% for message in room_messages %}
    <div>
        <small>
            @{{message.user}} {{message.created|timesince}} ago
        </small>
        <small> replied to "{{message.room}}"</small>
        <!-- this would output the whole message -->
        <!-- <p>{{message.body}}</p>  -->

        <!-- this outputs the string representation of the message -->
        <p>{{message}}</p> 
        {% if request.user == message.user %}
            <a href="{% url 'delete-message' message.id %}">Delete</a>
            <a href="{% url 'update-message' message.id %}">Edit</a>
        {% endif %}
    </div>

    {% endfor %}
</div>